/* line 1, ../sass/style.scss */
.imgMenu {
  position: relative;
  width: 670px;
  height: 200px;
  overflow: hidden;
  margin: 25px 0px 0px;
}

/* line 9, ../sass/style.scss */
.imgMenu ul {
  list-style: none;
  margin: 0px;
  display: block;
  height: 200px;
  width: 1340px;
}

/* line 18, ../sass/style.scss */
.imgMenu ul li {
  float: left;
}

/* line 22, ../sass/style.scss */
.imgMenu ul li a {
  text-indent: -1000px;
  background: #FFFFFF none repeat scroll 0%;
  border-right: 2px solid #fff;
  cursor: pointer;
  display: block;
  overflow: hidden;
  width: 78px;
  height: 200px;
}

/* line 36, ../sass/style.scss */
.imgMenu ul li.landscapes a {
  background: url(../images/landscapes.jpg) repeat scroll 0%;
}
/* line 42, ../sass/style.scss */
.imgMenu ul li.people a {
  background: url(../images/people.jpg) repeat scroll 0%;
}
/* line 48, ../sass/style.scss */
.imgMenu ul li.nature a {
  background: url(../images/nature.jpg) repeat scroll 0%;
}
/* line 54, ../sass/style.scss */
.imgMenu ul li.abstract a {
  background: url(../images/abstract.jpg) repeat scroll 0%;
}
/* line 60, ../sass/style.scss */
.imgMenu ul li.urban a {
  background: url(../images/urban.jpg) repeat scroll 0%;
  min-width: 310px;
}

/* line 69, ../sass/style.scss */
.jimgMenu ul li.landscapes a {
  background: url(images/landscapes.jpg) repeat scroll 0%;
}

/* line 73, ../sass/style.scss */
.jimgMenu ul li.people a {
  background: url(images/people.jpg) repeat scroll 0%;
}

/* line 77, ../sass/style.scss */
.jimgMenu ul li.nature a {
  background: url(images/nature.jpg) repeat scroll 0%;
}

/* line 80, ../sass/style.scss */
.jimgMenu ul li.abstract a {
  background: url(images/abstract.jpg) repeat scroll 0%;
}

/* line 84, ../sass/style.scss */
.jimgMenu ul li.urban a {
  background: url(images/urban.jpg) repeat scroll 0%;
}

/* line 89, ../sass/style.scss */
.clear {
  clear: both;
}

/* line 93, ../sass/style.scss */
body {
  margin: 0;
  padding: 0;
  color: #333;
  font: normal 0.6em sans-serif,Arial;
  background-color: #EDEDED;
  background-image: url(../images/bg1.jpg);
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: center top;
  width: 100%;
  overflow: hidden;
}
